databases:
  - name: database
    databaseName: startsign-db
    user: bullet_train
    plan: free

services:
  - type: redis
    name: startsign-redis
    ipAllowList: []
    plan: free
    maxmemoryPolicy: noeviction
  - type: web
    name: startsign-web
    plan: free
    env: ruby
    buildCommand: "RUN_MIGRATIONS=1 ./bin/render-build.sh"
    startCommand: "corepack enable && bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: database
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: redis
          property: connectionString
      - fromGroup: settings
  - type: worker
    name: worker
    plan: free
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "corepack enable && bundle exec sidekiq -t 25"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: database
          property: connectionString
      - key: REDIS_URL
        fromService:
          type: redis
          name: redis
          property: connectionString
      - fromGroup: settings

envVarGroups:
  - name: settings
    envVars:
      - key: FONTAWESOME_NPM_AUTH_TOKEN
        sync: false
      - key: POSTMARK_API_TOKEN
        sync: false
      - key: HIDE_THINGS
        generateValue: true
      - key: SECRET_KEY_BASE
        generateValue: true
